html {
    background-color: #eee;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;

}

p {
    background-color: #fff;
    margin: 0.5rem;
    padding: 0.5rem;
}
